*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
/data/
lib/
target/
models/test_feature.arff
models/test_feature.arff.bkp
models/test_feature.csv
models/test_feature.csv.bkp
models/test_feature_final.arff
models/test_feature_final.arff.bkp
models/test_feature_final.arff.bkp.latest
models/train_feature.arff
models/train_feature.csv
models/train_feature_final.arff
